body {
    font-size: 10pt;
}

body, p, div, h1, h2, h3, h4 {
    background-color: #ececec;
    color: black;
    font-family: Arial;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #1b4553;
    font-weight: bold;
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-family: Arial;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.0em;
}

pre {
    border: 1px gray dashed;
    padding: 3px;
    background-color: #F4F4F4;
}